<main class="container">
  <div class="header">
    <h1>New user</h1>
  </div>

  <%= turbo_frame_tag "first_turbo_frame" do %>
    <%= render "form", user: @user %>
  <% end %>
  
  <%= link_to "Back to users", users_path %>
</main>
